#pinContainer.hero-image {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position-x: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}
#pinContainer.hero-image .panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
}
.wording {
    position: relative;
    display: block;
    font-size: 14px;
    color: #fff;
    text-transform: Uppercase;
    font-family: rift;
    font-weight: bold;
    line-height: 1.2rem;
}

.panel.blue {
    background-color: #3883d8;
}

.panel.turqoise {
    background-color: #38ced7;
}

.panel.green {
    background-color: #22d659;
}

.panel.bordeaux {
    background-color: #953543;
}

@media only screen and (max-height: 768px) {
    #pinContainer.hero-image {
        background-position-y: 20vh;
        /* background-position-x: -10vh; */
        background-size: 100vh;
    }
    .drive2 {
        top: 15%;
    }
    .automotive {
        top: 45%;
        left: 0%;
    }
    .newly {
        top: 35%;
        right: -3% !important;
    }
    .qt_front {
        top: 26%;
        left: 3%;
    }
}

@media only screen and (min-height: 770px) {
    #pinContainer.hero-image {
        background-position-y: 20vh;
        background-size: 100vh;
    }
    .drive2 {
        top: 20%;
    }
    .drive2 {
        top: 15%;
    }
    .automotive {
        top: 47%;
        left: -4%;
    }
    .newly {
        top: 35%;
        right: -3% !important;
    }
    .qt_front {
        top: 37%;
        left: 4%;
    }
}

@media only screen and (height: 900px) {
    #pinContainer.hero-image {
        background-position-y: 20vh;
        background-size: 100vh;
    }
    .drive2 {
        top: 15%;
    }
    .automotive {
        top: 48%;
        left: 0%;
    }
    .newly {
        top: 38%;
        right: -3% !important;
    }
    .qt_front {
        top: 43%;
        left: 3%;
    }
}

@media only screen and (height: 1050px) {
    #pinContainer.hero-image {
        background-position-y: 15vh;
        background-size: 100vh;
    }
    .drive2 {
        top: 10%;
    }
    .roomier {
        top: 50%;
        left: -13%;
    }
    .automotive {
        top: 46%;
        left: -11%;
    }
    .fully {
        top: 40%;
        right: -10%;
    }
    .newly {
        top: 43%;
        right: 2% !important;
    }
}

@media only screen and (min-width: 1920px) {
    #pinContainer.hero-image {
        background-position-y: 15vh;
        background-size: 110vh;
    }
    .drive2 {
        top: 11%;
    }
    .automotive {
        top: 48%;
        left: 0%;
    }
    .fully {
        top: 40%;
        left: 1%;
    }
    .newly {
        top: 38%;
        right: -3% !important;
    }
    .qt_front {
        top: 46%;
        left: 3%;
    }
}

@media only screen and (min-height: 1440px) {
    #pinContainer.hero-image {
        background-position-y: 15vh;
        background-size: 90vh;
    }
}
