.yamaha-btn-lg {
    width: 10em;
}

.MuiDialog-paper {
    width: auto !important;
    height: auto !important;
}

.contact-heading-container {
    padding: 100px 10px 60px;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
    max-width: 100%;
}

.login-title {
    font-size: 2.5rem !important;
    margin-top: -20px;
    margin-bottom: -30px !important;
    padding-left: 12px;
}

.MuiDialogTitle-root {
    padding: 0 !important;
}
.MuiDialogContent-root {
    overflow-y: initial !important;
}

.MuiGrid-spacing-xs-2 {
    margin-top: -25px !important;
}
.MuiDialogActions-root {
    padding: 10px !important;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 35px !important;
}
.MuiDialogActions-spacing > * + * {
    margin-left: 25px !important;
}
.MuiPaper-rounded {
    border-radius: 10px !important;
}

.modal-padding{
    padding: 100px 250px 100px 250px;
}

@media only screen and (max-width: 960px) {
    .modal-padding{
        padding: 100px 100px 100px 100px;
    }
}
.MuiBadge-anchorOriginTopRightRectangle{
    transform: scale(0.5) translate(50%, -50%) !important;
    transform-origin: 130% -23%  !important;
}