#reddit-input:focus > label {
    color: "red !important";
}

label {
    color: #bcbdbc !important;
    text-transform: capitalize;
    font-size: 0.05263rem;
}

.input-container {
    margin-top: 1rem;
    font-family: "Ubuntu", sans-serif !important;
    flex: 1;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.contact-input {
    font-family: "Ubuntu" !important;
}
